*,
html {
    box-sizing: border-box;
}

.canvas-wrapper {
    background: rgba(46, 96, 205, 0.92);
    border-radius: 5px 5px 0 0;
    position: relative;
    overflow: hidden;
}

canvas {
    width: 100%;
    display: block;
    background: transparent;
    will-change: transform;
    transform: translateZ(0);
}

header {
    background: rgb(255, 255, 255, 0.05) !important;
    font-family: monospace;
    letter-spacing: .2em;
    font-size: 1.5em;
}

.card-header p {
    border: 1px solid rgba(89, 92, 96, 0.22);
    border-radius: 1px;
}

.instructions-overlay {
    width: 125px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: .85em;
    border-radius: 8px;
    opacity: .8;
    transition: opacity 0.5s ease;
}

b,
i {
    color: rgb(255, 196, 0);
}

.hidden {
    opacity: 0;
}

.select {
    margin-bottom: 20px;
}

.card-footer {
    justify-content: center;
    gap: .5em;
    border-top: none !important;
    padding-bottom: 20px;
}

.card-footer button {
    border-radius: .5em;
}

#performanceNotice {
    display: none;
    position: relative;
    top: -20px;
    left: 50%;
    max-width: 400px;
    transform: translateX(-50%);
    background: rgb(255, 255, 255, 0.05);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-size: .9em;
    z-index: 10000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin: 0 0 10px 0;
}

.notice-container {
    display: flex;
    gap: 2em;
}

.icon {
    align-self: center;
    font-size: 1.2em;
}